*{
    margin: 0;
    padding:0;
}
/* de cada grupo de elementos el que ocupe la 3era posicion sera afectado */
/* elemento:nth-child(3) */
tr:nth-child(3){
    background-color: red;
}
/* odd impar */
tbody tr:nth-child(odd){
    background-color: green;
}
/* even par */
tbody tr:nth-child(even){
    background-color: greenyellow;
}
/* la tercera columna de los grupos de "td" "th" */
td:nth-child(3), th:nth-child(3){
    background-color: yellow;
}

 tbody tr:last-child td:last-child{  
     border-bottom-right-radius: 10px; 
  
} 
tbody tr:last-child td:first-child{  
    border-bottom-left-radius: 10px; 
    

/* como quitar  el margen a la tabla */
}table{
    border-collapse: collapse;
}
thead tr:first-child{
    background-color: orangered;
}
thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
}
thead tr:first-child th:last-child{
    border-top-right-radius: 10px;
    
}

nav li{
    display: inline-block;
    height: 30px;
    margin: 20px;
}
 .nav-link{
    background-color:purple;
    color: #fff;
    text-decoration: none;    
    border-radius: 10px;
    font-family: 'Prompt', sans-serif;   
    padding: 10px;
    
 }    
    
/* todos los elementos que tengan la clase ".nav-link y  ademas tengan la clase "active" (tienen que cumplirse las dos clases... si estan separados pues solo afectarian a todos los que tengan la clase active*/
.nav-link.active{
    font-style: italic;
}
/* todos los elementos "p" que sean hermanos del "h2" y que esten debajo de el */
h2~p{
    color: orangered;
}
/* el primer parrafo que sea hermano del h3, y que esten debajo de el */
h3+p{
    color: green;
}
/* que aumente el tamaño de la letra a todos menos a la clase agotado */
article:not(.agotado){
font-size: 20px;
}
/* todos los hijos de article menos h4 */
article :not(h4){
    font-style: italic;
}
a{
    
    
}
.fondo-articulo{
    font: 16px "arial black";
    border: 1px solid #c00;
    background: -webkit-radial-gradient(center, ellipse, #D6D8DF, #7DE50E );
}
.fondo-articulo2{
    font: 16px "arial black";
    border: 1px solid #c00;
    background: -webkit-radial-gradient(center, ellipse, #D6D8DF, #7DE50E );
}