* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    height: 60px;
    box-shadow: 0px 0px 8px #bbb;
}

.color-primario {
    color: #a11477;
}

.navegacion {
    /*  opacity: 0 :coloca un elemento de color transparente a un elemento pero au asi puedo seleccionarlo o darle cick */
    /* opacity: 0;  */
    /* visibility: hidden; => convierte a un elemento en invisibilidad pero ademas no se puede seleccionar o dar click en el elemento, sin embargo su espacio en el DOM es respetado */
    /* quitar de la vista,  */
    /* display:block ; desaparece un elemento del DOM, y su espacio es ocupado por los demas elementos. */
    /* display: none; */
}

.navegacion ul {
    /* border: 1px solid blue; */
}

aside {
    /* calc() sirve para realizar operaciones con diferentes unidades de medida y poder hacer calculos */
    height: calc(100vh - 60px);
    background-color: #a11777;
    width: 240px;
}

.navegacion ul li {
    /* border: 1px solid red; */
    display: inline-block;
    margin-right: 15px;
    background-color: blue;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.navegacion ul li a {
    text-decoration: none;
    color: #222;
}

.navegacion ul li i {
    transition: all 0.3s ease;
}


/* solamente afecta a todos los "a" de los li */

.navegacion ul li:hover a {
    text-decoration: underline;
}

.navegacion ul li:hover i {
    transform: rotate(45deg);
}

section,
aside {
    display: inline-block;
}

section {
    background-color: blueviolet;
    height: calc(100vh - 60px);
    width: calc(100% - 250px);
}